/* Typography */
  /* Font family */
  $font-family: "Inter";
  $font-type-body: $font-family;
  $font-type-display: $font-family;
  $font-type-heading: $font-family;

  /* Size */
  /* web */
  $font-size-web-body-sm: $number-12px;
  $font-size-web-body-md: $number-14px;
  $font-size-web-body-lg: $number-16px;
  $font-size-web-body-xl: $number-18px;
  $font-size-web-component-button-sm: $number-14px;
  $font-size-web-component-button-base: $number-16px;
  $font-size-web-component-input-sm: $number-14px;
  $font-size-web-component-input-base: $number-16px;
  $font-size-web-display-d2: $number-64px;
  $font-size-web-display-d1: $number-80px;
  $font-size-web-heading-h5: $number-20px;
  $font-size-web-heading-h4: $number-24px;
  $font-size-web-heading-h3: $number-32px;
  $font-size-web-heading-h2: $number-40px;
  $font-size-web-heading-h1: $number-48px;
  /* app */
  $font-size-app-body-xs: $number-10px;
  $font-size-app-body-sm: $number-12px;
  $font-size-app-body-md: $number-14px;
  $font-size-app-body-lg: $number-16px;
  $font-size-app-body-xl: $number-18px;
  $font-size-app-component-button-sm: $number-12px;
  $font-size-app-component-button-base: $number-14px;
  $font-size-app-component-input-sm: $number-12px;
  $font-size-app-component-input-base: $number-14px;
  $font-size-app-heading-h4: $number-20px;
  $font-size-app-heading-h3: $number-24px;
  $font-size-app-heading-h2: $number-28px;
  $font-size-app-heading-h1: $number-32px;

  /* Font weight */
  $font-weight-regular: 400;
  $font-weight-medium: 500;
  $font-weight-semibold: 600;
  $font-weight-bold: 700;

  /* Line height */
  /* web */
  $font-line-height-web-body-sm: $number-16px;
  $font-line-height-web-body-md: $number-20px;
  $font-line-height-web-body-lg: $number-24px;
  $font-line-height-web-body-xl: $number-26px;
  $font-line-height-web-h5: $number-28px;
  $font-line-height-web-h4: $number-32px;
  $font-line-height-web-h3: $number-40px;
  $font-line-height-web-h2: $number-48px;
  $font-line-height-web-h1: $number-56px;
  $font-line-height-web-d2: $number-72px;
  $font-line-height-web-d1: $number-88px;
  $font-line-height-web-component-button: $number-24px;
  $font-line-height-web-component-input: $number-24px;
  /* app */
  $font-line-height-app-body-xs: $number-14px;
  $font-line-height-app-body-sm: $number-16px;
  $font-line-height-app-body-md: $number-20px;
  $font-line-height-app-body-lg: $number-24px;
  $font-line-height-app-body-xl: $number-26px;
  $font-line-height-app-h4: $number-28px;
  $font-line-height-app-h3: $number-32px;
  $font-line-height-app-h2: $number-36px;
  $font-line-height-app-h1: $number-40px;
  $font-line-height-app-component-button: $number-24px;
  $font-line-height-app-component-input: $number-24px;

  /* Letter spacing */
  $font-letter-spacing-app-body: 0rem;
  $font-letter-spacing-app-heading: 0rem;
  $font-letter-spacing-web-body: 0rem;
  $font-letter-spacing-web-display: 0rem;
  $font-letter-spacing-web-heading: 0rem;
